.app {
  text-align: center;
  background-color: #7fcfff;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.app-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}
